In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('train (2).csv')

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [19]:
df.groupby('Embarked').agg({'Survived':'mean'})

          Survived
Embarked
C         0.553571
Q         0.389610
S         0.336957

In [10]:
df.groupby('Sex').agg({'Survived':'mean'})

        Survived
Sex
female  0.742038
male    0.188908

In [12]:
df.Survived.value_counts(normalize = True).mul(100).round(2)

0    61.62
1    38.38
Name: Survived, dtype: float64

In [14]:
df.groupby('Pclass').agg({'Survived':'mean'})

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [15]:
df.groupby('Survived').agg({'Age':'mean'})

                Age
Survived
0         30.626179
1         28.343690

In [17]:
df.groupby('SibSp').agg({'Survived':'mean'}).sort_values(['Survived'])

       Survived
SibSp
5      0.000000
8      0.000000
4      0.166667
3      0.250000
0      0.345395
2      0.464286
1      0.535885

In [22]:
df.Sex.value_counts(normalize = True).mul(100).round(2)

male      64.76
female    35.24
Name: Sex, dtype: float64

In [25]:
pd.crosstab(df['Pclass'], df['Sex'], margins=True)

Sex     female  male  All
Pclass
1           94   122  216
2           76   108  184
3          144   347  491
All        314   577  891